<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Year:</b>
  <%= @movie.year %>
</p>

<p>
  <b>Director:</b>
  <%= @movie.director.name %>
</p>

<p>
  <b>Genre:</b>
  <%= @movie.genre %>
</p>

<p>
  <b>Cast:</b>
  <ul>
  <% @movie.actors.each do |actor| %>
    <li><%= actor.name %></li>
  <% end %>
  </ul>
</p>













<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
