<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<%= link_to "Rate This Movie!", new_rating_url(:movie_id => @movie.id) %>

<p>
  <b>Average Rating:</b>
  <%= @movie.ratings.average(:stars) %>
</p>
<p>
  <b>Year:</b>
  <%= @movie.year %>
</p>

<p>
  <b>Director:</b>
  <%= @movie.director.name %>
</p>

<p>
  <b>Genre:</b>
  <%= @movie.genre %>
</p>

<p>
  <b>Cast:</b>
  <ul>
  <% @movie.actors.each do |actor| %>
    <li><%= actor.name %> plays <%= @movie.characters.find_by_actor_id(actor.id).name %></li>
  <% end %>
  </ul>
</p>













<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
