<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @director.name %>
</p>

<p>
  <b>Dob:</b>
  <%= @director.dob %>
</p>

<ul>
<% @movies.each do |movie| %>
  <li><%= movie.title %></li>
<% end %>
</ul>

<%= @director.movies %>



<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
