<h1>Listing characters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Movie</th>
    <th>Actor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @characters.each do |character| %>
  <tr>
    <td><%= character.name %></td>
    <td>
    <% if character.movie.present? %>
      <%= character.movie.title %>
    <% else %>
      No movie assigned.
    <% end %>
    </td>
    <td>
    <% if character.actor.present? %>
      <%= character.actor.name %>
    <% else %>
      No actor assigned.
    <% end %>
    </td>
    <td><%= link_to 'Show', character %></td>
    <td><%= link_to 'Edit', edit_character_path(character) %></td>
    <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Character', new_character_path %>
